.container {
    .container {

        display: grid;
        grid-template-areas:
            "navar navar"
            "sidebar main"
            "footer footer";
        gap: 10px;

        @include mobile {
            display: grid;
            grid-template-areas:
                "navar navar"
                "sidebar sidebar"
                "main main"
                "footer footer";
            gap: 10px;
            
        }
        @include tablet{
            display: grid;
        grid-template-areas:
            "navar navar"
            "sidebar sidebar"
            "main main"
            "footer footer";
        gap: 10px;
        }
    }

    .navar {
        grid-area: navar;

       
    }

    .sidebar {
        grid-area: sidebar;
        width: 180px;
        padding: 5%;

        @include tablet{
            width: 100%;
        }

        @include mobile{
            width: 100%;
        }
    }

    .main {
        grid-area: main;
        display: grid;
        justify-content: center;
        grid-template-columns: auto auto auto;

        @include mobile {
            grid-area: main;
            display: grid;
            grid-template-columns: auto;
           

        }

        @include tablet {
            grid-area: main;
            display: grid;
            grid-template-columns: auto auto;
        }
    }



    .tituloCarrusel {
        color: $colortitulo;
    }

    .contacto {
        justify-content: center;
    }



    
   
}