.main {
 
    .producto {
        border: 1px solid $colorborder;
        display: flex;
        flex-direction: column;
        margin: 5px;
        padding: 5%;

       
     &:hover {
             background-color: $fondoproducto;
             cursor: pointer;
             transform: scale(1.2);

            @include mobile{
                
            transform: none;
                        }
                
             }
           
              
        

        .price {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
        }

        img {
            height: auto;
            width: 100%;
    
        }

       .video{
        justify-content: center;
       }

    }

    
    
  
}

